<p style="font-size:30px">Python for Neuroscience. A study group</p>

## Disclaimers

* I am not working as a part of any institution 
* I am not a Neuroscientist (*yet:)*), but rather a Data Scientist

## Variables and types

In [10]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [11]:
y = 10.5
print(y)
print(type(y))

10.5
<class 'float'>

In [14]:
z = x * 5 + 10 - (4 * 7)
print(z)

7

In [28]:
my_string = "Hello"
my_string = 5
print(my_string)
print(type(my_string))

5
<class 'int'>

In [30]:
%who

my_sting	 my_string	 x	 y	 z

## Hello students!

<b> hi </b>

## Numeric types operations:

| Operation | Note |
|:-:|:-:|
| x + y | sum of x and y |
| x - y | difference of x and y |
| x * y | product of x and y |
| x / y | quotient of x and y |
| x // y | floored quotient of x and y |
| x % y | remainder of x / y |
| -x | x negated |
| +x | x unchanged |
| abs(x) | absolute value or magnitude of x |
| pow(x, y) | x to the power y |
| x ** y | x to the power y |

In [34]:
10 // 2

5

In [36]:
10 % 2 # even number
10 % 3 # odd number

1

In [38]:
abs(5)

5

In [39]:
# this is not a power
2^10

8

In [40]:
2 ** 10

1024

In [41]:
pow(2, 10)

1024

In [42]:
print(" as' ")

 as'

In [44]:
print(" as" ")

SyntaxError: EOL while scanning string literal (<ipython-input-44-c240ef2e182e>, line 1)

In [45]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [47]:
int(True), int(False)

(1, 0)

In [52]:
bool("Halle"), bool(0)

(True, False)

## Strings

In [54]:
my_str = "Hello"
my_str * 3

'HelloHelloHello'

In [60]:
my_str + str(3)

'Hello3'

In [64]:
int("slslsls")

ValueError: invalid literal for int() with base 10: 'slslsls'

In [59]:
print("Hello" + " students!")
type("Hello" + " students!")

Hello students!

str

In [65]:
my_str = "Hello, students. How are you?"

[start:end:step]

* start is included
* end is NOT included
* step is 1 by default

In [68]:
my_str[10]

'd'

In [69]:
my_str[5:]

', students. How are you?'

In [70]:
my_str[:7]

'Hello, '

In [71]:
my_str[::2]

'Hlo tdns o r o?'

In [72]:
my_str[1:10:2]

'el,su'

In [73]:
print(my_str)

Hello, students. How are you?

In [76]:
x = 'Hello' in my_str
print(x)
print(type(x))

True
<class 'bool'>

In [77]:
"Ruslan" in my_str

False

## funtions vs methods

In [78]:
my_str.upper()

'HELLO, STUDENTS. HOW ARE YOU?'

In [80]:
my_str.lower()

'hello, students. how are you?'

In [84]:
my_str

'Hello, students. How are you?'

In [85]:
'hello' == 'Hello'

False

In [126]:
my_str

'Hello, students. How are you?'

In [128]:
my_str[::-2]

'?o r o sndt olH'

In [86]:
my_str.count('Hello')

1

In [88]:
my_str.find('students')

7

In [90]:
my_str.find('i')

-1

In [93]:
my_str.replace('students', 'neuroscientists')

'Hello, neuroscientists. How are you?'

In [96]:
my_str.upper()

In [98]:
DNA_string = "AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC"
A_count = DNA_string.count("A")
print(A_count)

20

In [100]:
G_c = DNA_string.count('G')
G_c

17

In [102]:
DNA_string = "GATGGAACTTGACTACGTAAATT"
RNA_string = DNA_string.replace('T', "U")
RNA_string

'GAUGGAACUUGACUACGUAAAUU'

In [103]:
my_str

'Hello, students. How are you?'

In [109]:
len(my_str)

29

In [106]:
"A,B,C,D".split(',')

['A', 'B', 'C', 'D']

In [105]:
my_list = my_str.split(",")
print(my_list)
print(type(my_list))

['Hello', ' students. How are you?']
<class 'list'>

## Collections

### Lists

In [107]:
my_list = [1, 2, 3, 4]
print(type(my_list))

<class 'list'>

In [108]:
len(my_list)

4

In [110]:
my_list + 5

TypeError: can only concatenate list (not "int") to list

In [111]:
my_list + [5]

[1, 2, 3, 4, 5]

In [114]:
my_list * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [137]:
my_list = list(range(0,100))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [135]:
del my_list

In [136]:
print(my_list)

NameError: name 'my_list' is not defined

In [139]:
min(my_list), max(my_list)

(0, 99)

In [140]:
sum(my_list)

4950

In [145]:
my_l = ['a', 'A', 'b', 'Y'] # ABC...Z...abc...z
min(my_l), max(my_l)

('A', 'b')

In [146]:
sum(my_l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [148]:
color_list = ["Red","Green","White" ,"Black"]
color_list[0]

'Red'

In [149]:
color_list[-1]

'Black'

### Tuples

### Sets

### Dictionaries

## Conditions and `if`

## Loops

### `while`

https://www.reddit.com/r/ProgrammerHumor/comments/dhhexm/when_you_forget_the_exit_condition_in_a_while/

### `for`

### `break` and `continue`

### List comprehensions